.endpage {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;  // Centers the children vertically
    align-items: center; // Centers the children horizontally
    position: relative;
    height: 100vh; 
    color:white;    // section take up the full viewport height
    
    .endpage_text1,
    .endpage_text2,
    .endpage_link {
         font-family: 'Montserrat', sans-serif;
    }
    .endpage_link{
        text-decoration: none;
        color: white;
        font-size:20px;
    }
    .endpage_text1{
   
    font-size:20px;
}
.endpage_text2{
    font-size:40px;
}
        
        .endpage_text3 {
            font-size: 10px;
            letter-spacing: 1px;
          position: absolute;// Positions the element at the bottom
          bottom: 30px;           
          left: 50%;  // Centers the element horizontally
          transform: translateX(-50%);  
        }
      }
