.gallery {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:100vh;
   .gallery_image {
    width: calc(33.33% - 10px);
    height: auto;
    margin-bottom: 10px; /* A small gap between rows */
    box-sizing: border-box;
  }
}
